<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"	
	 xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"	
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd	
	http://www.dangdang.com/schema/ddframe/rdb http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd	
	" default-lazy-init="true">

	<!-- 注解扫描路径 -->
	<context:component-scan base-package="com.hua" />
	
	<!-- ================= 配置文件 ==================  -->	
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>				
				<value>classpath:/conf/properties/jdbc_03.properties</value>
			</list>
		</property>
	</bean>

	<!-- ================= 物理数据源 ==================  -->	
	<bean id="dataSource_01" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.jdbc.dbcp2.driverClass}" />
		<property name="url" value="${db_01.jdbc.dbcp2.jdbcUrl}" />
		<property name="username" value="${db.jdbc.dbcp2.user}" />
		<property name="password" value="${db.jdbc.dbcp2.password}" />
		<property name="maxIdle" value="${db.jdbc.dbcp2.maxIdle}" />
		<property name="initialSize" value="${db.jdbc.dbcp2.initialPoolSize}" />
		<property name="maxWaitMillis" value="${db.jdbc.dbcp2.maxWaitMillis}" />		
		<property name="validationQuery" value="${db.jdbc.dbcp2.validationQuery}" />
	</bean>

	<bean id="dataSource_02" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.jdbc.dbcp2.driverClass}" />
		<property name="url" value="${db_02.jdbc.dbcp2.jdbcUrl}" />
		<property name="username" value="${db.jdbc.dbcp2.user}" />
		<property name="password" value="${db.jdbc.dbcp2.password}" />
		<property name="maxIdle" value="${db.jdbc.dbcp2.maxIdle}" />
		<property name="initialSize" value="${db.jdbc.dbcp2.initialPoolSize}" />
		<property name="maxWaitMillis" value="${db.jdbc.dbcp2.maxWaitMillis}" />		
		<property name="validationQuery" value="${db.jdbc.dbcp2.validationQuery}" />
	</bean>

	<bean id="dataSource_03" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.jdbc.dbcp2.driverClass}" />
		<property name="url" value="${db_03.jdbc.dbcp2.jdbcUrl}" />
		<property name="username" value="${db.jdbc.dbcp2.user}" />
		<property name="password" value="${db.jdbc.dbcp2.password}" />
		<property name="maxIdle" value="${db.jdbc.dbcp2.maxIdle}" />
		<property name="initialSize" value="${db.jdbc.dbcp2.initialPoolSize}" />
		<property name="maxWaitMillis" value="${db.jdbc.dbcp2.maxWaitMillis}" />		
		<property name="validationQuery" value="${db.jdbc.dbcp2.validationQuery}" />
	</bean>

	<!-- ================= Person 分库分表策略 ==================  -->
	<rdb:strategy id="personDatabaseShardingStrategy" sharding-columns="user_id"  algorithm-class="com.hua.sharding.PersonSingleKeyDatabaseShardingAlgorithm" />
	<rdb:strategy id="personTableShardingStrategy" sharding-columns="user_id" algorithm-class="com.hua.sharding.PersonSingleKeyTableShardingAlgorithm" />
	
	<!-- ================ 逻辑数据源 ===================  -->
	<rdb:data-source id="shardingDataSource">
		<!-- 多个数据源用逗号隔开 -->
		<rdb:sharding-rule data-sources="dataSource_01,dataSource_02,dataSource_03">
			<rdb:table-rules>
				<!-- 一个分表对应一项 -->
				<rdb:table-rule logic-table="person" actual-tables="person_01, person_02, person_03, person_04"
					database-strategy="personDatabaseShardingStrategy"
					table-strategy="personTableShardingStrategy" />
					
			</rdb:table-rules>
		</rdb:sharding-rule>
	</rdb:data-source>











</beans>
